.container {
  min-height: 100vh;
  display: grid;
  grid-template: minmax(100px, 100px) 1fr / 1fr;
  grid-template-areas: 
  "header"
  "content"
  ;
  grid-gap: 30px 0px;

  .content {
    grid-area: content;
    padding: 10px 15px;
    display: grid;
    grid-template: auto 1fr/ 1fr;
    justify-items: center;
    align-items: start;
    gap: 20px 0px;
  }
}
